
/hardware/dodecahedron-backups
/hardware/hexagon/dodecahedron-backups
/hardware/pentagon/dodecahedron-backups
/hardware/tetragonal-deltohedron/TetragonalDeltohedron-backups
/hardware/hexagon/production/backups
/hardware/pentagon/production/backups
/hardware/tetragonal-deltohedron v1 dead
/hardware/TetragonalDeltohedron v2/TetragonalDeltohedron-backups
/hardware/TetragonalDeltohedron v2/.svg2shenzhen-cache
/hardware/tetragonal-deltohedron/.svg2shenzhen-cache
