
/hardware/dodecahedron-backups
/hardware/hexagon/dodecahedron-backups
/hardware/pentagon/dodecahedron-backups
/hardware/tetragonal-deltohedron/TetragonalDeltohedron-backups
/hardware/hexagon/production/backups
/hardware/pentagon/production/backups
